
#koupelna--svg{
    min-width: 100vw;
    min-height: 90vh;
    max-width: 177.7777vh;
    max-height: 56.25vw ;
    width: auto;
    height: auto;
    position: relative;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: translate(-50%, 0%);
  }

  .koupelna--svg {
    height: 100vh;
}


/*Loznice*/


/* close button */
.hint-close, 
.close_kocka, 
.close_postel {
  color: #ffffff;
  float: right;
  font-size: 28px;
  font-weight: bold;
  background-color: white;
  color: black;
  text-transform: uppercase;
}

.hint-close:hover,
.hint-close:focus,
.close_kocka:hover,
.close_kocka:focus
.close_postel:hover,
.close_postel:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}

.koupelna--hint,
 
.koupelna--modal, 
.koupelna--modal_postel {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
   /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
  z-index: 1001;

 
}



/* modal - obrázky*/




#img-kocka {
  background-image: url(img/domecek.png);
}
