

body, html {
  height: 100%;
  margin: 0%;
}


* {
  box-sizing: border-box;
  color: white;
  margin: 0%;
  font-family: 'Open Sans', sans-serif
}

button {
  background-color: white;
  color: black;
  text-transform: uppercase;
}

a {
  color: black;
  text-transform: uppercase;
  
}

.screen{
  position: fixed;
  left:0px;
  top:0px;
  right: 0px;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  display: flex;
  flex-direction: row;
}

#loznice--svg{
  width: 100vw;
  height: 100vh;
  touch-action: manipulation;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: -1;
}
.popisek {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  color: #fff;
  background-color: #020811a1;
  z-index: 10000;
}

.popisek--star {
  background-image: url(img/hvezda.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #000000;
  animation: heartbeat 3s linear infinite;
}

@keyframes heartbeat {
  0% {
    transform:  scale(1);
  }
  25% {
    transform:  scale(1);
  }
  30% {
    transform:  scale(1.4);
  }
  50% {
    transform: scale(1.2);
  }
  70% {
    transform:  scale(1.4);
  }
  100% {
    transform:  scale(1);
  }
  }

.cliks {
  z-index: 10001;
  color: red;
}


/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  border-radius: 16px;
  color: #000;
 
}

/* Ne button */


.loznice--hint-c {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  
}

.loznice--hint-c:hover,
.loznice--hint-c:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}

.loznice--hint {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  z-index: 1000;
}

/* (A) WRONG ORIENTATION - SHOW MESSAGE HIDE CONTENT */
@media only screen and (orientation:portrait) {
  .otoc { display:block; }
  .screen { display:none; }
}
 
/* (B) CORRECT ORIENTATION - SHOW CONTENT HIDE MESSAGE */
@media only screen and (orientation:landscape) {
  .otoc { display:none; }
  .screen { display:block; }
}