
body, html {
  height: 100%;
  width: 100%;
  margin: 0%;
  padding: 0%;
  height: 100vh;
}


* {
  box-sizing: border-box;
  color: white;
  margin: 0%;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

button {
  color: #000;
  height: 100%;
}

.button--style{
  background-color: white;
  color: black;
  text-transform: uppercase;
  padding: 1%;
  margin: 1%;
  height: auto;
  width: 100%;
  border: rgba(0, 0, 0, 0);
}

.button--style:hover {
  background-color: forestgreen;
}

a {
  color: black;
  text-transform: uppercase;  
}



.pulse {
  
  background-color: #58ea00;
  

  text-align: center;
  line-height: 100px;
  
  position: relative;
}


.pulse:before, .pulse:after {
  content: '';
  position: absolute;
  left: -20px;
  right: -20px;
  top: -20px;
  bottom: -20px;
  border: 1px solid #58ea00;
  
  animation: pulse 1.5s linear infinite;
}

.pulse:after {
  animation-delay: 0.5s;
}

@keyframes pulse {
  0% { transform: scale(0.5); opacity: 0 }
  50% { transform: scale(1); opacity: 1 }
  100% { transform: scale(1.2); opacity: 0 }
}


.otoc {
  color:#000
}

/*screen svg*/
.screen{
  position: fixed;
  left:0px;
  top:0px;
  right: 0px;
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: row;
  overflow: auto; 
}

#loznice--svg{
  min-width: 100vw;
  min-height: 90vh;
  max-width: 177.7777vh;
  max-height: 56.25vw ;
  width: auto;
  height: auto;
  position: relative;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: translate(-50%, 0%);
}

.loznice--svg {
    height: 100vh;
}

/*popisek*/
.popisek {
  height: auto;
  width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  color: #fff;
  background-color: #020811a1;
  z-index: 10000;
  position: absolute;
  right: 0;
  top: 0;
  padding: 1%;
}

.popisek--star {
  background-image: url(img/hvezda.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #000000;
  animation: heartbeat 3s linear infinite;
  margin: 3%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
}

@keyframes heartbeat {
  0% {
    transform:  scale(1);
  }
  25% {
    transform:  scale(1);
  }
  30% {
    transform:  scale(1.4);
  }
  50% {
    transform: scale(1.2);
  }
  70% {
    transform:  scale(1.4);
  }
  100% {
    transform:  scale(1);
  }
  }

.cliks {
  z-index: 10001;
  color: red;
}

#gohome {
  display: none;

}

/*home*/
.home--star {
  position: absolute;
  z-index: 1000;
  height: 100vh;
  width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  color: #fff;
  background-color: #020811a1;
  font-size: 18px;

}

h2, p {
  font-size: 18px; 
  max-width: 100%;
}

.star--place {
  height: 10vh;
  width: 10vw;
}
 img  {
  height: 5vh;
  width: 5vw;
  color: #000000;
  animation: heartbeat 5s linear infinite;
 }

/*modaly*/

.modal-content {
  background-color: #fefefe00;
  margin: auto;
  padding: 20px;
  width: 50%;
  border-radius: 16px;
  color: #000;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

/*Loznice*/


/* close button */
.hint-close, 

.close_kocka, 
.close_postel {
  color: #ffffff;
  float: right;
  font-size: 28px;
  font-weight: bold;
  background-color: white;
  color: black;
  text-transform: uppercase;
}

.hint-close:hover,
.hint-close:focus,
.close_kocka:hover,
.close_kocka:focus
.close_postel:hover,
.close_postel:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}

.loznice--hint,
 
.loznice--modal, 
.loznice--modal_postel {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
   /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
  z-index: 1001;

 
}



/* modal - obrázky*/
.modal-star {
  width: 58px;
  height: 58px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1001;
  background-image: url(img/hvezda.svg);
}

.modal-img {
  width: 120px;
  height: 120px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1001;
}

#img-kocka {
  background-image: url(img/domecek.png);
}


.star--place {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: calc(100%/8);
}

.star--counter {
  width: auto;
  height: auto;
  max-height: 20vh;
  max-width: 20vw;
  margin: 2% 0 2% 0 ;
  font-size: 14px;
  color: #000;
  z-index: 1000;
}

/* (A) WRONG ORIENTATION - SHOW MESSAGE HIDE CONTENT */
@media only screen and (orientation:portrait) {
  .otoc { display:block; }
  .screen { display:none; }
}
 
/* (B) CORRECT ORIENTATION - SHOW CONTENT HIDE MESSAGE */
@media only screen and (orientation:landscape) {
  .otoc { display:none; }
  .screen { display:block; }
}


@media  (max-width: 576px)
 {
  h2, p {
 font-size: 16px;
 color: #58ea00;
  }
  .button--style{
    font-size: 10px;
  }

  .modal-star, .popisek--star {
    width: 32px;
    height: 32px;
  }
   }
  @media (min-width: 576px) and (max-width: 768px)
 {
    h2, p  {
   font-size: 14px;
   color: aqua;
  
    }
    .button--style{
      font-size: 12px;
    }
    .modal-star, .popisek--star {
      width: 32px;
      height: 32px;
    }
    }

    @media (min-width: 768px) and (max-width: 992px)
    {
       h2, p {
      font-size: 16px;
      color: blueviolet;
       }
       .button--style{
         font-size: 16px;
       }
       .popisek--star {
        width: auto;
        height: auto;
        max-height: 15vh;
        max-width: 15vw;
       }
       .modal-star, .popisek--star {
        width: 32px;
        height: 32px;
      }
       }

       @media (min-width: 992px) and (max-width: 1200px)
       {
        h2, p  {
          font-size: 16px;
          color: rgb(43, 43, 226);
           }
        .modal-content{
          margin-top: 20%;
        }

        .modal-star, .popisek--star {
          width: 32px;
          height: 32px;
        }

       }
       @media (min-width: 1201px) and (max-width: 1400px)
       {
        h2, p {
          font-size: 16px;
          color: rgb(220, 43, 226);
           }

        .modal-star, .popisek--star {
          width: 56px;
          height: 56px;
        }

        .modal-content {

          margin-top: 10%;
      }
       }

       @media (min-width: 1400px) 
       {
         p {
          font-size: 22px;
          color: rgb(226, 134, 43);
           }

           h2, h3 {
            font-size: 24px;
            color: rgb(226, 134, 43)
    
             }

        .modal-star, .popisek--star {
          width: 64px;
          height: 64px;
        }
        .modal-content {
          margin-top: 15%;
      }
       }
